<html>
    <body>
		<div>
			<h2>Announcements:</h2>
			<ul>
				{% for name in names %}
					<li>{{name}}</li>
					<form action={{url_for("ui.delannounce",lang=lang)}} method="POST">
						<input type="hidden" name="num" value={{loop.index-1}}>
						<input type="hidden" name="value" value="{{name}}">
						<input type="submit" name="submit" value="Delete">
					</form>
				{% endfor %}
			</ul>
		</div>
		<div>
			<h2>New Announcement:</h2>
			<form method="post">
				<label for="message">Message:</label><br/>
				<input type="text" id="message" name="message"/><br/>
				<input type="submit" value="Submit"/>
			</form>
		</div>
    </body>
</html>