<html>
    <body>
		<div>
			<h2>Events:</h2>
			{% for event in events %}
				<div style="border-color:black;border-style:solid">
					<h3>{{event.title}}</h3>
					<p>{{event.text}}</p>
					<p>Location: {{event.location}}</p>
					<p>Date: {{event.date}}</p>
					<form action={{url_for("ui.delevent",lang=lang)}} method="POST">
						<input type="hidden" name="num" value={{page*5+loop.index-1}}>
						<input type="hidden" name="value" value="{{event}}">
						<input type="submit" value="Delete">
					</form>
				</div>
			{% endfor %}
			<a href="{{url_for('ui.events',lang=lang,page=page-1)}}">Previous</a> | 
			<a href="{{url_for('ui.events',lang=lang,page=page+1)}}">Next</a>
		</div>
		<div>
			<h2>New Event:</h2>
			<form method="post" id="eventForm" action="{{url_for('ui.addevent',lang=lang,page=page)}}">
				<label for="title">Title:</label>
				<input type="text" id="title" name="title"/><br/>
				<label for="text">Text:</label>
        <textarea style="vertical-align:top;" type="text" form="eventForm" id="text" name="text"></textarea><br/>
				<label for="location">Location:</label>
				<input type="text" id="location" name="location"/><br/>
				<label for="date">Date:</label>
				<input type="date" id="date" name="date"/><br/>
				<input type="submit" value="Submit"/>
			</form>
		</div>
    </body>
</html>
