<html>
	<body>
		<div>
			<h2>What's New:</h2>
			{% for n in news %}
				<div style="border-color:black;border-style:solid">
					<h3>{{n.name}}</h3>
					<p>Date: {{n.date}}</p>
					<p>Icon: </p><image src="data:image/png;charset=utf-8;base64,{{n.icon}}"/>
				</div>
			{% endfor %}
		</div>
		<div>
			<h2>Create New:</h2>
			<form method="post" enctype="multipart/form-data">
				<label for="name">Name:</label>
				<input id="name" name="name" type="text"/><br/>
				<label for="icon">Icon: </label>
				<input type="file" name="icon" id="icon" accept="image/png, image/jpeg"/><br/>
				<label for="date">Date: </label>
				<input type="date" name="date" id="date"/><br/>
				<input type="submit" value="Submit"/>
			</form>
		</div>
	</body>
</html>